.search_Tab{
  height: 300px;
  size:100% 100%;
  background:url('bg_1.jpg') center;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center center;
}

.search_Bar{
  margin-top:120px;
  border-radius:20px;
  background-color: #FFFFFF;
  color:#000000;
}

.bodyWeb{
  background-color: #BBDEFB;
  min-height: 800px;
  height: auto;
}

.footerWeb{
  padding: : 0px !important;
  background-color: #1565C0;
  height: auto;
}

.cardRank{
  margin-bottom: 4%;
  width: 100%;
  height: 350px;
}

.cardRankBG{
  background-size:cover;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center center;
  height:auto;
  min-height:140px;
}

.cardRankHeader{
  color:#FFFFFF;
  min-height: 60px;
  margin:auto;
  /*padding-bottom: 13%;*/
}

.cardNews{
  margin-top: 5%;
  width: 100%;
  height: 700px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
