<!-- {% load staticfiles %} -->
<!DOCTYPE html>
<html>
<head>
	<title>Login: Smart-Library</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-pink.min.css" />

	<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

	<style type="text/css">
		.bodyWeb{
			background: linear-gradient(#fbb963, #f38092);
		}
		.center {
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		.mdl-layout__content {
			flex: none;
		}
	</style>
</head>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-shadow--6dp">
    <div class="mdl-layout__header-row" style="background-color: #ff5722;">
      <!-- Title -->
      <span class="mdl-layout-title">Smart Library</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
				<a href="/lib/" class="mdl-navigation__link" style="margin: 0px;">Home</a>
				<a href="/lib/catalog/" class="mdl-navigation__link" style="margin: 0px;">Catalog</a>
      </nav>
    </div>
  </header>
	<body>
		<!-- NavBar -->
		<div class="mdl-layout mdl-js-layout bodyWeb center">
			<main class="mdl-layout__content">
				<div class="mdl-card mdl-shadow--6dp">
					<div class="mdl-card__title mdl-color-text--white" style="background-color: #ff5722;">
						<h2 class="mdl-card__title-text">Forget Password</h2>
					</div>
			  	<div class="mdl-card__supporting-text">
			  		{% if error_message %}
			  			<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--11-col mdl-grid" style="background-color:#e84c3d!important; color: white;">
			  				{{error_message}}
			  			</div>
			  		{% endif %}
						<form id="login_form" method="post" action="/forgetpass/" accept-charset="UTF-8" role="form">
							{% csrf_token %}
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
								<input class="mdl-textfield__input" type="text" name="studentid">
								<label class="mdl-textfield__label">Student ID</label>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
								<input class="mdl-textfield__input" type="email" name="email">
								<label class="mdl-textfield__label">email</label>
							</div>
							<div class="mdl-card__actions mdl-card--border center">
								<input class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--colored" style="margin-bottom:10px; background-color:#ff5722;" type="submit" /><br>
							</div>
						</form>
					</div>
				</div>
			</main>
		</div>
	</body>
</div>
</html>
